<h1 id="loading" class="hidden">取得中</h1>
<div id="container" class="">
  <!-- <div id="container"> -->
  <h1 id="title">問題<span id="title__num"><%=quizNum%>
    </span></h1>
  <h2 id="genre">[ジャンル]<span id="genre__detail">
      <%= category %>
    </span>
  </h2>
  <h2 id=difficulty>[難易度]<span id=difficulty__detail>
      <%= difficulty %>
    </span></h2>
</div>

<!-- !隠し要素でバックエンド側で整形したクイズ10問を
      !クライアント側のjsから取得できるようにする -->
      <!-- !不可 valueでは、とってきた配列が文字列となってしまう -->
<input id="quizContents" type="hidden" value="<%=answer%>"></input>

<hr id="quiz">
<span id="quiz__content0" class="hidden">少々お待ち下さい</span>
<span id="quiz__content" class="">
  <%= quizContent %>
</span>
<hr>

<form action="/playing/countup" method="get" name="formAnswer">
<ul id='answers'>
  <!-- !隠し要素で正解を記載しクライアント側のjsから取得できるようにする -->
  <input id="hiddenAnswer" type="hidden" value="<%=answer%>"></input>

  <li id="homeBtn" class="hidden changePage"><button>ホームに戻る</button></li>
  <li id="startBtn" class='hidden changePage'><button>開始</button></li>
  <li><button type="" class='choice' data-number="0" type="" value="">
      <%=choice0%>
    </button><br></li><br>
  <li><button class='choice' data-number='1'>
      <%=choice1%>
    </button><br></li><br>
  <li><button class='choice' data-number='2'>
      <%=choice2%>
    </button><br></li><br>
  <li><button class='choice' data-number='3'>
      <%=choice3%>
    </button><br></li><br>
  <li><br></li><br>
</ul>

</form>
